# Default ignored files
grpc-client/shelf/
grpc-client/workspace.xml
grpc-server/shelf/
grpc-server/workspace.xml
grpc-server/dependency-reduced-pom.xml
grpc-client/dependency-reduced-pom.xml
grpc-client/target
grpc-server/target/